.tg  {border-collapse:100;border-spacing:100;}
        .tg td{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
          overflow:hidden;padding:10px 5px;word-break:normal;}
        .tg th{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
          font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;}
        .tg .tg-7{border-color:inherit;color:#fe0000;text-align:left;vertical-align:top}
        .tg .tg-2{background-color:#c0c0c0;border-color:inherit;font-weight:bold;text-align:center;vertical-align:top}
        .tg .tg-5{border-color:inherit;text-align:center;vertical-align:top}
        .tg .tg-4{background-color:#329a9d;border-color:inherit;font-weight:bold;text-align:left;vertical-align:top}
        .tg .tg-1{border-color:inherit;font-weight:bold;text-align:center;vertical-align:top}
        .tg .tg-3{background-color:#c0c0c0;border-color:inherit;font-weight:bold;text-align:left;vertical-align:top}
        .tg .tg-6{border-color:inherit;text-align:right;vertical-align:top}
        .tg .tg-0{border-color:inherit;text-align:left;vertical-align:top}